body {
    font-family: 'Arial' 'Helvetica Neue', Helvetica, sans-serif;
    color: '#777';
    background: '#777';
    width: '960px';
    font-size: '18px';
    margin: 0 auto; 
}

header {
    background: '#ebebeb';
    padding: 20px;
}

nav {
    background: '#ebebeb';
    padding: 20px;
}
section {
    background: '#ebebeb';
}

article {
    color: '#ebebeb';
    background: '#777';
}

h1 {
    color: '#777';
    position: absolute;
    width: 150px;
    height: 150px;
    background: #ebebeb;
   
}

p {

}

aside {

}

footer {    
    padding: 20px;
    background: '#ebebeb';
}