body {
    font-family: Arial;
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px;
    margin: 0 auto; 
}

header {
    background: #ebebeb;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 90%;
    text-align: center;
}

nav {
    background: #ebebeb;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 90%;
    text-align: center;
}
#section {
    float: left;
    background: #ebebeb;
    width: 50%;
    padding: 60px;
}

#article {
    color: #ebebeb;
    background: #777;
    
}

h1 {
    color: #777;
    width: 150px;
    height: 150px;
    background: #ebebeb;
   
}

p {
    color: #777;
    width: 150px;
    height: 150px;
    background: #ebebeb;

}

#aside {
    background: #ebebeb;
    width: 50%;
    padding: 60px;
    float: left;
    margin-right: -50px;
    clear: both;
}

footer {    
    padding: 20px;
    background: #ebebeb;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    width: 90%;
}